<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />

            <h1> {{'SHOP' | translate}}</h1>
            <h3> {{'REGISTER_PAGE' | translate}}</h3>

            <form role="form">
                
                <div class="form-content">
                
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" 
                        placeholder="{{'PLACEHOLDER.FULL_NAME' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" 
                        placeholder="{{'PLACEHOLDER.EMAIL' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{'PLACEHOLDER.PASSWORD' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'PLACEHOLDER.REPEAT_PA' | translate }}">
                    </div>

                </div>

                <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'REGISTER' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'LOGIN' | translate }}</a>
            
            </form>
        
        </div>
    
    </div>

</div>