<div class="pos-f-t fixed-top header">
    
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">

        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="javascript:void(0)">{{ 'BOOK_SHOP' | translate}}</a>
        
        <div class="collapse navbar-collapse">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="{{ 'SEARCH' | translate }}" >
            </form>

            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                
                <li class="nav-item" >
                
                    <a href="javascript:void(0)" class="nav-link" >
                        <i class="fa fa-shopping-cart"></i> {{ 'CART' | translate }} <b class="caret">{{itemsInBasket}}</b>  <b class="caret"> </b>
                    </a>
                </li>
                
                <li class="nav-item dropdown" ngbDropdown>
                 
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i> {{ 'LANGUAGE' | translate }} <b class="caret"></b>
                    </a>
                 
                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pl')">{{ 'POLISH' | translate }}</a>

                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">{{ 'ENGLISH' | translate }}</a>

                    </div>
                </li>

                <li class="nav-item dropdown" ngbDropdown>
                    
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> Kacper Sobisz <b class="caret"></b>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> {{ 'PROFILE' | translate }}</a>

                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> {{ 'SETTINGS' | translate }}</a>

                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> {{ 'LOG_OUT' | translate }} </a>
                    </div>

                </li>

            </ul>

        </div>

    </nav>

</div>